<header class="header">
    <div class="logo"><li><%= link_to "Tooly Tooly Rental", root_path %></li></div>
    <ul class="nav">
        <li><%= link_to "Tools", categories_path  %></li>
        <li><%= link_to "About_Us", about_us_path%></li>
    </ul>
    <div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
        </button>
        <ul class="dropdown-menu">
            <% if user_signed_in? %>
            <%= link_to "Profile", profile_path(current_user) %>
                <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }  %>
            <% else %>
                <%= link_to "Log In", new_user_session_path %>
            <% end %>
        </ul>
    </div>
    </div>
</header>

